[Unit]
Description=My Node.js App
After=network.target postgresql.service

[Service]
ExecStart=/usr/bin/node /opt/apps/webapp-main/server.js
Restart=always
User=csye6225
Group=csye6225
Environment=PORT=5173
EnvironmentFile=/opt/apps/webapp-main/.env
WorkingDirectory=/opt/apps/webapp-main

[Install]
WantedBy=multi-user.target
